<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet" />
<style>
:root {
    --field-color: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
      /*--field-color: #999;*/
  }
}

body {
    font-family: 'Noto Sans TC';
}

.blog-series {
    color: var(--field-color);
    font-style: italic;
    margin-bottom: 5px;
}

.blog-posts {
    --visited-color: var(--link-color);

    a:hover {
        text-decoration: underline dashed;
    }
}

footer {
    p {
        margin: 0.5em;
    }
}
</style>
